{% extends 'stars/base.html' %}
{% load static %}
{% block title %}
{{ post.title_tag }}
{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<small>By:
    {{ post.author.first_name }}
    {{ post.author.last_name }} -
    {{ post.post_date }}

    {% if user.is_authenticated and user.id == post.author.id %}
    - <a href="{% url 'stars:update_post' post.pk %}">(Edit)</a>
    <a href="{% url 'stars:delete_post' post.pk %}">(Delete)</a>

    {% endif %}

</small><br />
<hr>
<br />
{% if post.header_image %}
<img src="{{ post.header_image.url }}" alt="">
{% endif %}

{{ post.body | safe }}



<br><br>

<form action="{% url 'stars:like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
    <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn {% if user in post.likes.all %} btn-primary 
{% else %} btn-outline-primary {% endif %} btn-sm">Like
    </button>
    {% else %}
    <small>Login to like</small>
    {% endif %}
    - {{ post.likes.count }} Likes
</form>

<br>

{% if post.author.profile %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
            {% else %}
            <img src="{% static 'stars\images\default_profile_pic.PNG' %}" class="img-fluid rounded-start" alt="...">

            
            {% endif %}
            </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">
                    {{ post.author.first_name }}
                    {{ post.author.last_name }}
                </h5>
                <p class="card-text">
                    <small class="text-body-secondary">

                        <a href="{% url 'members:show_profile_page' post.author.profile.id %}">Profile Page</a>


                        {% if post.author.profile.website_url %}
                         | <a href="{{ post.author.profile.website_url }}">Website</a>
                        {% endif %}
                        {% if post.author.profile.facebook %}
                         | <a href="{{ post.author.profile.facebook }}">Facebook</a>
                        {% endif %}

                        {% if post.author.profile.instagram %}
                         | <a href="{{ post.author.profile.instagram }}">Instagram</a>
                        {% endif %}

                        {% if post.author.profile.linkedin %}
                         | <a href="{{ post.author.profile.linkedin }}">Linkedin</a>
                        {% endif %}

                    </small>
                </p>
                <p class="card-text">{{ post.author.profile.bio }}</p>

            </div>
        </div>
    </div>
</div>
{% endif %}

<br>
<h2>Comments...</h2>

{% if user.is_authenticated %}
<a href="{% url 'stars:add_comment' post.pk %}">Add Comment</a>
<br><br>
{% endif %}

{% if not post.comments.all %}
    No comments yet...
{% else %}
    {% for comment in post.comments.all %}
        <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
        <br>
        {{ comment.body }}
        <br><br>
    {% endfor %}
{% endif %}

<br><br>

{% endblock %}